.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page {
  width: 100vh / (11 / 8.5);
  height: 100vh;
  display: flex;
}

@media screen and (max-width: 600px) {
  //change to 1024px
  .page {
    width: 100vw;
    height: max-content;
  }
}
