$ratio: (11 / 8.5);

* {
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  margin: 0.25vh 0;
  border: none;
  background-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  height: 1px;
}

h1 {
  font-size: 3.25vh;
}

h2 {
  font-size: 2.75vh;
  font-style: italic;
  font-weight: 400;
}

h3 {
  font-size: 2.5vh;
}

h4 {
  font-size: 1.75vh;
}

p {
  font-size: 1.5vh;
}

ul {
  padding: 0.5vh 0 0 0;
}

li {
  font-size: 1.25vh;
}

.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(70, 70, 70);
}

.page-container {
  width: 100vh / $ratio;
  height: 100vh;
  display: flex;
  box-shadow: 0px 1px 15px rgb(0, 0, 0);
}

.main-container {
  width: ((100vh / $ratio) * 2) / 3;
  height: 100vh;
  background: white;
}

.sidebar-container {
  width: (100vh / $ratio) / 3;
  height: 100vh;
  background: rgb(215, 215, 215);
}

.padding {
  padding: 1vh 2vh 0 2vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5vh 0 0 0;
  div {
    display: flex;
    align-items: center;
  }
}

.location {
  font-style: italic;
}

.description {
  padding: 0 2vh;
}

.skillset {
  margin: 1vh 0;
}

.contact {
  display: flex;
  align-items: center;
  margin: 1vh 0 0 0;
  img {
    width: 1.75vh;
    margin: 0 0.75vh 0 0;
  }
}

.repo {
  display: flex;
  align-items: center;
  margin: 0 0 0 1vh;
  img {
    margin: 0 0 0 0.5vh;
  }
  #star {
    width: 1.75vh;
  }
  #fork {
    width: 1.25vh;
  }
}

@media screen and (max-width: 600px) {
  hr {
    margin: 0.25vw * $ratio 0;
  }

  h1 {
    font-size: 3.25vw * $ratio;
  }

  h2 {
    font-size: 2.75vw * $ratio;
  }

  h3 {
    font-size: 2.5vw * $ratio;
  }

  h4 {
    font-size: 1.75vw * $ratio;
  }

  p {
    font-size: 1.5vw * $ratio;
  }

  ul {
    padding: 0.5vw * $ratio 0 0 0;
  }

  li {
    font-size: 1.25vw * $ratio;
  }

  .page-container {
    width: 100vw;
    height: max-content;
  }

  .main-container {
    width: 67vw;
    height: auto;
    padding-bottom: 2vw;
  }

  .sidebar-container {
    width: 33vw;
    height: auto;
    padding-bottom: 2vw;
  }

  .padding {
    padding: 1vw * $ratio 2vw * $ratio 0 2vw * $ratio;
  }

  .header {
    margin: 0.5vw * $ratio 0 0 0;
  }

  .description {
    padding: 0 2vw * $ratio;
  }

  .skillset {
    margin: 1vw * $ratio 0;
  }

  .contact {
    margin: 1vw * $ratio 0;
    img {
      width: 1.75vw * $ratio;
      margin: 0 0.75vw * $ratio 0 0;
    }
  }

  .repo {
    margin: 0 0 0 1vw * $ratio;
    img {
      margin: 0 0 0 0.5vw * $ratio;
    }
    #star {
      width: 1.75vw * $ratio;
    }
    #fork {
      width: 1.25vw * $ratio;
    }
  }
}

// @page {
//   margin: 0;
// }

@media print {
  .page-container {
    box-shadow: none;
  }
}
