.skillset {
  margin: 1vh 0;
}

.contact {
  display: flex;
  align-items: center;
  margin: 1vh 0 0 0;
  img {
    width: 1.75vh;
    margin: 0 0.75vh 0 0;
  }
}

.repo {
  display: flex;
  align-items: center;
  margin: 0 0 0 1vh;
  img {
    margin: 0 0 0 0.5vh;
  }
  #star {
    width: 1.75vh;
  }
  #fork {
    width: 1.25vh;
  }
}

@media screen and (max-width: 600px) {
  .skillset {
    margin: 1vw 0;
  }

  .contact {
    margin: 1vw 0;
    img {
      width: 1.75vw;
      margin: 0 0.75vw 0 0;
    }
  }

  .repo {
    margin: 0 0 0 1vw;
    img {
      margin: 0 0 0 0.5vw;
    }
    #star {
      width: 1.75vw;
    }
    #fork {
      width: 1.25vw;
    }
  }
}
