.container {
  width: ((100vh / (11 / 8.5)) * 2) / 3;
  height: 100vh;
  background: white;
}

@media screen and (max-width: 600px) {
  .container {
    width: 67vw;
    height: auto;
    padding-bottom: 2vw;
  }
}
